body {
    margin: 0px;
}

/*disable selecting text class*/
.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#container {
    overflow: hidden;
    background-color: #cccccc;
}

.aside {
    width: 300px;
    height: 1250px;
    float: left;
    z-index: 1;
    background-color: #242b2e;
}

#aside-header {
    width: 300px;
    height: 126px;
    background-color: white;

}

#wrapper{
    width: 180px;
    height: 80px;
    position: relative;
    left: 35%;
    top: 10%;
}

#logo {
    width: 40px;
    height: 38px;
    position: relative;
    top: 35%;
}

.rectangle-logo {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #e5e5e5;
    border-radius: 6px;
    opacity: 0.5;
    /* Rotate div */
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
}

#one {
    float: left;
    left: 2px;
    top: 2px;
}

#two {
    right: 3px;
    top: 2px;   
    float: right;
}
#three {
    float: left;
    left: 10px;
    top: -6px;
}

#aside-header #text {
    font-family: 'Soho';
    font-size: 39px;
    z-index: 4;
    position: relative;
    left: 14%;
    top: -30%;
    z-index: 4;
}

#aside-header #img {
    z-index: 1;
    position: relative;
    top: -37%;
    left: 40%;
}

#aside-navigation{
    width: 300px;
    height: 388px;
    background-color: #2f373b;
}

label {
    display: none;
    width: 90px;
    font-family: 'Soho';
    font-size: 32px;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .vertical-nav {
    display: block;
}

ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #2f373b;
}

li a {
    color: white;
    display: block;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    padding: 21px 24px;
    position: relative;
    text-decoration: none;
    text-align: right;
    border-bottom: 1px solid #202021;
    z-index: 99999;
}

li a:hover {
    background-color: #1ab5b3;
    color: white;
}

#aside-footer {
    width: 300px;
    height: 736px;
    background-color: #242b2e;
}

#filter {
    width: 300px;
    height: 193px;
}

#social {
    width: 300px;
    height: 55px;
}

#rights {
    width: 182px;
    height: 13px;
}

.social-icon {
    display: inline-block;
}

.section {
    width: auto;
    height: 1200px;
    background-color: white;
    margin: 25px 25px 25px 325px;
}

@font-face {
  font-family: "Soho";
  src: url("fonts/Soho.woff") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Light.woff") format("truetype");
}

@media screen and (max-width: 750px) {
    #container {
        height: auto; 
        overflow: hidden;
    }

    .aside { 
        width: 100%;
        height: 275px;
    }

    #aside-header {
        width: 100%;
        height: 126px;
    }

    #aside-navigation {
        width: 100%;
        height: auto;
    }

    label {
        display: block;
    }

    ul {
        margin-top: 15px;
    }

    li a {
    text-align: center;
    }

    .vertical-nav {
        display: none;
    }

    #aside-footer {
        width: 100%;
        height: 101px;
    }

    #filter {
        display: none;
    }

    #social {
        display: none;
    }

    #rights {
        display: none;
    }

    .section {
        margin: 300px 25px 25px 25px;
    }
}