body {
    margin: 0px;
}

#container {
    overflow: hidden;
    background-color: #cccccc;
}

.aside {
    width: 300px;
    height: 1250px;
    float: left;
    z-index: 1;
    background-color: #242b2e;
}

#aside-header {
    overflow: hidden;
    width: 300px;
    height: 126px;
    background-color: white;

}

#logo {
    width: 40px;
    height: 38px;
    position: relative;
    margin: 0px;
    top: 30%;
    left: 30%;
}

.rectangle-logo {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #e5e5e5;
    border-radius: 6px;
    opacity: 0.5;
    /* Rotate div */
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
}

#one {
    float: left;
    left: 2px;
    top: 2px;
}

#two {
    right: 3px;
    top: 2px;   
    float: right;
}
#three {
    float: left;
    left: 10px;
    top: -6px;
}

#aside-header #text {
    width:117px;
    height: 47px;
    position: relative;
    left: 46%;
    top: -10%;
    margin: 0px;
    font-family: Soho;
    font-size: 39px;
    z-index: 4;
    
}

#aside-header #img {
    position: relative;
    margin: 0px;
    left: 55%;
    top: -5%;
    z-index: 1;
}

#aside-navigation{
    width: 300px;
    height: 372px;
    background-color: #2f373b;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #2f373b;
}

li a {
    display: block;
    height: 62px;
    color: white;
    text-decoration: none;
    text-align: right;
    border: 1px solid #242b2e;
}

li a:hover {
    background-color: #1ab5b3;
    color: white;
}

#aside-footer {
    width: 300px;
    height: 752px;
    background-color: #242b2e;
}

.section {
    height: 1200px;
    background-color: white;
    margin: 25px 25px 25px 325px;
}

@font-face {
  font-family: "Soho";
  src: url("fonts/Soho.woff") format("truetype");
}

@media screen and (max-width: 750px) {
    .aside { 
    float: none;
    width: auto;
    height: 300px;
    }

    #aside-header {
        width: auto;
        height: 126px;
    }

    #aside-navigation {
        width: auto;
        height: 87px;
    }

    #aside-footer {
        width: auto;
        height: 87px;
    }

    .section { 
    float: none;
    width: auto;
    margin: 25px 0px 0px 0px;
    }
}